body {
    background-color: #f8f9fa;
}

.navbar-dark .navbar-brand {
    font-weight: bold;
    font-size: 1.25rem;
}

.dropdown-menu {
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    width: 700px;
}

.dropdown-menu .dropdown-item {
    padding: 8px 15px;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f3f3f3;
    border-radius: 5px;
}


.hero-section {
    background-color: #000;
    color: white;
    padding: 100px 0;
    text-align: center;
}

footer {
    background-color: #000;
    color: white;
}
.lead-1{
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25rem;
}
.highlight{
    color: blue;
}
.navbar {
    background-color: #1c1c1c; /* Màu nền navbar */
}

.navbar-brand img {
    height: 30px; /* Chiều cao logo */
}

.navbar-nav .nav-link {
    color: white !important; /* Màu chữ */
}

.nav-link:hover {
    text-decoration: underline;
}

.shop-deals-btn {
    background-color: #0078D4;
    color: white;
    font-weight: bold;
}

.shop-deals-btn:hover {
    background-color: #005A9E;
}

.toggle-switch {
    display: flex;
    align-items: center;
    color: white;
}

.toggle-switch input[type="checkbox"] {
    width: 20px;
    height: 20px;
}